<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="CallBackUrl" value="https://localhost:44356/Controller/CallbackController.asmx/TradeCallback" />
    <add key="MerchantId" value="510916" />
    <add key="MerchantKey" value="ade8aadqweqw5eqa017dfcacd1b6" />
    <add key="Gateway" value="https://node3.udun.com" />
  </appSettings>
</configuration>
